* {
    box-sizing: border-box;
}

{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
}
body
{
    background-image: url(Background%20Bce.jpeg);
    background-size: cover;
    background-position: center;
   
    font-family: sans-serif;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #000;
}
.menu-bar
{
    background: rgb(240,240,240);
    text-align: right;
}

.menu-bar ul li
{
    width: 120px;
    margin: 20px;
    padding: 12px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: #aaa;
}
.active, .menu-bar ul li:hover
{
   background: #f9f9f9;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;  
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(230,230,230);
    margin-top: 15px;
    margin-left: -10px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 2px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
   width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left; 
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #a9a9a9;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(220,220,220);
}
.logo{
  width: 250px;
    height: 80px;
    border-radius: 0%;
    position: absolute;
    top: 20px;
    left: calc(1% - 1px);
}









:root {
    --base-font-size: 1em;
    --base-font-family: 'Crimson Pro', sans-serif;
    font-size: 1em;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--base-font-family);
    font-size: 1rem;
    color: #3f3844;
    height: 100vh;
    background: white;
    background-image: radial-gradient(#F0F0F0 1px, transparent 0);
    background-size: 20px 20px;
    line-height: 1.4;                            1
    letter-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    color: #000;
}

header h1 {
    font-size: 2.25rem;
}

header img {
    height: 45px;
    margin-bottom: 10px;
}


footer {
    text-align: center;
}

.social-icon {
    display: inline-flex;
    padding: 12px;
}

.social-icon img {
    height: 22px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .course-wrapper > div {
        padding: 12px;
    }

    header h1 {
        font-size: 1.8rem;
    }
}
